{% extends "dingos/grappelli/base.html" %}
{% load staticfiles %}
{% block extrastyle %}
    <link href="{% static 'mantis_actionables/css/mantis_actionables.css' %}" rel="stylesheet">
{% endblock extrastyle%}
{% block javascripts %}
    {{ block.super }}
    <script data-main="{% static 'mantis_actionables/js/' %}" src="{% static 'mantis_actionables/js/require.js' %}"></script>
    <script src="{% static 'mantis_actionables/js/mantis_actionables.js' %}"></script>
    <script>
      var view = '{{ view }}'
    </script>
{% endblock javascripts %}
{% load startswith_tags %}
{% block content %}
    <div id="grp-content-container">
      <div class="l-2cr-responsive l-2cr-fluid">
        <div class="c-2">
          <div class="grp-module">
            <div class="grp-row grp-cells">
              {% for table in tables %}
              {% with table_name=table.0 cols=table.1 %}
                <div class="grp-cell result_box">
                  <h2 class="result_head clearfix"> {{ table_name }} <span class="res_num"></span></h2>
                  <table id="{{ table_name|lower }}" cellspacing="0" class="grp-sortable result_table" width="100%">
                    <thead>
                      <tr>
                      {% for col in cols.values %}
                      {% with col_name=col.1 searchable=col.2 %}
                        <th data-isearch="{{ searchable }}">{{ col_name }}</th>
                      {% endwith %}
                      {% endfor %}
                      </tr>
                    </thead>
                    {# TODO filter section still hardcoded, should be changed when decided how #}
                    <tfoot>
                      <tr>
                        {% block data %}
                          <td>
                              <select id="{{ table_name|lower }}_tlp_filter"></select>
                          </td>
                          <td></td>
                          {% if cols|length == 6 %}
                            <td><select id="{{ table_name|lower }}_type_filter"></select></td>
                          {% endif %}
                          <td></td>
                          <td><select id="{{ table_name|lower }}_ns_filter"></select></td>
                          <td></td>
                        {% endblock %}
                      </tr>
                    </tfoot>
                  </table>
                </div>
              {% endwith %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
