{% extends "dingos/grappelli/base.html" %}
{% load staticfiles %}
{% block extrastyle %}
    <link href="{% static 'mantis_actionables/css/mantis_actionables.css' %}" rel="stylesheet">
{% endblock extrastyle%}
{% block javascripts %}
    {{ block.super }}
    <script data-main="{% static 'mantis_actionables/js/' %}" src="{% static 'mantis_actionables/js/require.js' %}"></script>
    <script src="{% static 'mantis_actionables/js/mantis_actionables.js' %}"></script>
{% endblock javascripts %}
{% block content %}
{% endblock %}
