{% extends "mantis_actionables/base.html" %}
{% load actionables_tags %}
{% load dingos_tags %}

{% block content %}
{% for obs_info,tags in obs_tag_map.items %}
      </br>
{% endfor %}

  <div class="c-2">
    <div class="grp-module">
      <h2 class="grp-collapse-handler">Context "{{ view.curr_context_name }}"</h2>
       <table>
         <tr>
           <th>Value</th>
           <th>Type</th>
           <th>Tags</th>
         </tr>
         {% for obs_info,tags in obs_tag_map.items %}
         <tr>
           <td class="w-1 nowrap middle">{{ obs_info.0 }}</td>
           <td class="w-1 nowrap middle">{{ obs_info.1 }}{{ obs_info.2 }}</td>
           <td class="middle">
            <div id="tags" class="tag-block" data-obj-id="{{ obs_info.3 }}" style="float: left;">
            {% if tags %}
              {% show_TagDisplay tags obs_info.3 'actionables' isEditable %}
            {% endif %}
            </div>
          {% if isEditable %}
              {% show_addTagInput_actionables obs_info.3 view.curr_context_name %}
          {% endif %}
          </td>
         </tr>
         {% endfor %}
       </table>
    </div>
  </div>
{% include 'autocomplete_light/static.html' %}
{% include "dingos/grappelli/includes/_TaggingDialogs.html" %}
{% endblock %}