{% extends "dingos/grappelli/base.html" %}
{% load staticfiles %}
{% block extrastyle %}
    <link href="{% static 'mantis_actionables/css/mantis_actionables.css' %}" rel="stylesheet">
{% endblock extrastyle%}
{% block javascripts %}
    {{ block.super }}
    <script data-main="{% static 'mantis_actionables/js/' %}" src="{% static 'mantis_actionables/js/require.js' %}"></script>
    <script src="{% static 'mantis_actionables/js/mantis_actionables.js' %}"></script>
{% endblock javascripts %}
{% load startswith_tags %}
{% block content %}
    <div id="grp-content-container">
      <div class="l-2cr-responsive l-2cr-fluid">
        <div class="c-2">
          <div class="grp-module">
            <div class="grp-row grp-cells">
              {% for table in tables %}
                <div class="grp-cell result_box">
                  <h2 class="result_head clearfix"> {{ table. <span class="res_num"></span></h2>
                  <table id="{{ table.1 }}" cellspacing="0" class="grp-sortable result_table" width="100%">
                    <thead>
                      <tr>
                        <th data-search="0">TLP</th>
                        <th data-search="0">Source Timestamp</th>
                        {% if table.2 %}
                          <th data-search="1">Typ</th>
                        {% endif %}
                        <th data-search="1">Value</th>
                        <th data-search="0">STIX Namespace</th>
                        <th data-search="0">STIX Name</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <td>
                            <select id="{{ table.1 }}_tlp_filter"></select>
                        </td>
                        <td></td>
                        {% if table.2 %}
                          <td><select id="{{ table.1 }}_type_filter"></select></td>
                        {% endif %}
                        <td></td>
                        <td><select id="{{ table.1 }}_ns_filter"></select></td>
                        <td></td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
