{% extends "dingos/grappelli/base.html" %}
{% load staticfiles %}
{% block extrastyle %}
    <link href="{% static 'mantis_actionables/css/mantis_actionables.css' %}" rel="stylesheet">
{% endblock extrastyle%}
{% block javascripts %}
    {{ block.super }}
    <script src="{% static 'mantis_actionables/js/mantis_actionables.js' %}"></script>
{% endblock javascripts %}
{% load startswith_tags %}
{% block content %}
    <div id="grp-content-container">
      <div class="l-2cr-responsive l-2cr-fluid">
        <div class="c-2">
          <div class="grp-module">

            <div class="grp-row grp-cells">
              <div class="grp-cell result_box">
                <h2 class="result_head clearfix">
		            <img src="{% get_StixIcon 'Indicator' 'stix.mitre.org' %}" width="25" height="25"> IP Indicators <span class="res_num"></span>
                </h2>
                <table id="ip_indicators" cellspacing="0" class="grp-sortable result_table" width="100%">
                  <thead>
                    <tr>
                      <th>Creation Timestamp</th>
                      <th>Value</th>
                      <th>Object Type</th>
                      <th>Namespace</th>
                      <th>Package</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th></th>
                      <th></th>
                      <th><select id="ip_indicators_object_filter"></select></th>
                      <th><select id="ip_indicators_namespace_filter"></select></th>
                      <th></th>
                    </tr>
                  </tfoot>
                </table>
              </div>
	        </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
