{% extends "dingos/grappelli/lists/base_lists_two_column.html" %}
{% load actionables_tags %}
{% load dingos_tags %}

{% load tagging_widgets %}

{% block left_column %}


      {% show_ContextMetaData context_obj=view.curr_context_object widget_config=ContextMetaDataWidgetConfig %}

      <form id="bulk_tagging" action="" method="POST">

    	  <div class ="grp-module grp-collapse">

	  <h2 class="grp-collapse-handler"> Bulk Tagging</h2>
           {% if view.form %}
                <div class="grp-row">
                {{ view.form.non_field_errors }}
                    {% csrf_token %}
                    {{ view.form.cache_session_key }}
                    {{ view.form.result_len }}
                        <table>
                            <tbody>

                                     <tr class="grp-row grp-row-odd">
                                        <th>Context:</th>
                                        <td>{{ view.form.context.errors }} {{ view.form.context }}</td>

                                    </tr>

                                    <tr class="grp-row grp-row-odd">
                                        <th>Tags:</th>
                                        <td>{{ view.form.tags.errors }} {{ view.form.tags }} <br/> <p class='grp-help'>{{ view.form.tags.help_text }}</p></td>

                                    </tr>
                                                                <tr class="grp-row grp-row-odd">
                                        <th>Reason:</th>
                                                                    <td>{{ view.form.reason.errors }} {{ view.form.reason }} <br/>
                                                                        <p class='grp-help'>{{ view.form.reason.help_text }}</p></td>

                                    </tr>
                            </tbody>

                        </table>
                    <input name="action" value="Add" type="submit" />
                    <input name="action" value="Remove" type="submit" />








                </div>
            {% endif %}

	</div>


    <div class="grp-module grp-collapse grp-open">
      <h2 class="grp-collapse-handler">Singleton Observables tagged with "{{ view.curr_context_name }}"</h2>



      <div class="grp-module grp-changelist-results">

        {% if is_paginated %}
                    {%  render_paginator  %}
                {% endif %}


        <table id="result_list" cellspacing="0" class="grp-sortable">

        <thead>
         <tr>
              {% include "dingos/grappelli/includes/CheckboxActionHeaderColumn.html" %}
           <th scope="col"  class="sortable column-identifier">
               {% render_table_ordering "type__name" "Type" %}

           </th>
           <th scope="col"  class="sortable column-identifier">
               {% render_table_ordering "subtype__name" "Subtype" %}

           </th>
           <th scope="col"  class="sortable column-identifier">
               {% render_table_ordering "value" "Value" %}

           </th>
           <th class="middle">Tags</th>
         </tr>
         </thead>
        <tbody>

         {% for object in object_list %}


         <tr class="grp-row grp-row-{% cycle 'odd' 'even' as odd_even %}">
           <td>
               {{ view.form.mc_field_by_value |keyvalue:'checked_items'|keyvalue:object.pk }}
           </td>
             <td class="w-1 nowrap middle">{{ object.type.name }}</td>
           <td class="w-1 nowrap middle">{{ object.subtype.name }}</td>
           <td class="w-1 nowrap middle">{{ object.value }}</td>
           <td class="middle">
            <div id="tags" class="tag-block" data-obj-id="{{ object.pk }}" style="float: left;" data-curr-context="{{ view.curr_context_name }}">
            {% view_apply 'object2tags' object as tags%}
            {% if tags %}
              {% show_TagDisplay tags 'actionables' isEditable tag_context=view.curr_context_name%}
            {% endif %}
            </div>
          {% if isEditable %}
              {% show_addTagInput_actionables object.pk view.curr_context_name %}
          {% endif %}
          </td>
         {% for source in object.sources.all %}
             {% if not source.outdated %}
           <tr class="grp-row grp-row-{{ odd_even }}">
            <td></td>
                       <td></td>
            <td colspan="3" class="w-1 nowrap middle">
	      {% if source.top_level_iobject_identifier %}
                {% url 'url.dingos.view.infoobject' pk=source.top_level_iobject_identifier.latest.pk as stix_tl_obj_url %}
              {% url 'url.dingos.view.infoobject' pk=source.iobject_identifier.latest.pk as stix_obj_url %}

                {{source.iobject_identifier.namespace.uri}}:
                {{ source.iobject_identifier.latest.iobject_type.name }}
                {%  if stix_obj_url %}
                <a href="{{ stix_obj_url }}">
                    <img src="/static/admin/img/selector-search.gif" alt="Lookup" height="16" width="16">
                </a>
                {% endif %}

                in Report {{source.top_level_iobject_identifier.namespace.uri}}  '{{ source.top_level_iobject_identifier.latest.name }}'


                {%  if stix_tl_obj_url %}
                <a href="{{ stix_tl_obj_url }}">
                     <img src="/static/admin/img/selector-search.gif" alt="Lookup" height="16" width="16">
                </a>

               {% view_apply 'object2tags' source.top_level_iobject_identifier type='Identifier' as ident_tags%}
               {% if ident_tags %}
                {% show_TagDisplay ident_tags 'dingos' False%}
               {% endif %}

                {% endif %}

              {% else %}
                {% url  'actionables_import_info_details' pk=source.import_info.pk as import_info_url %}
                Actionables Import
                {%  if import_info_url %}
                <a href="{{ import_info_url }}">
                    <img src="/static/admin/img/selector-search.gif" alt="Lookup" height="16" width="16">
                </a>
                {% endif %}
                    {{ source.import_info.namespace.uri}} '{{ source.import_info.name }}'

               {% view_apply 'object2tags' source.import_info type='ImportInfo' as importinfo_tags%}
               {% if importinfo_tags %}
                {% show_TagDisplay importinfo_tags 'actionables' False%}
               {% endif %}


	      {% endif %}

            </td>

           </tr>
             {% endif %}
         {% endfor %}

         {% endfor %}

        </tbody>
       </table>
        {% if is_paginated %}
                    {%  render_paginator  %}
                {% endif %}



    </div>
   </div>

      </form>
    {% show_TaggedThings tag=view.curr_context_name  %}





{% include 'autocomplete_light/static.html' %}
{% include "dingos/grappelli/includes/_TaggingDialogs.html" %}

{% endblock %}
